In [1]:
import numpy as np
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [2]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:5]

['cherry', 'orange', 'kiwi']

In [3]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[:4]

['apple', 'banana', 'cherry', 'orange']

In [4]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[-4:-1]

['orange', 'kiwi', 'melon']

In [5]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
thislist

['apple', 'blackcurrant', 'cherry']

In [6]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [7]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
thislist

['apple', 'banana', 'watermelon', 'cherry']

In [8]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist

['apple', 'banana', 'cherry', 'orange']

In [9]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [10]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
thislist

['apple', 'cherry']

In [11]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist

['apple', 'cherry']

In [12]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [13]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
del thislist[0]
thislist

['banana', 'cherry']

In [14]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

[]

In [15]:
import numpy as np
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
thislist

['banana', 'cherry', 'Kiwi', 'Orange']

In [16]:
import numpy as np
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
thislist

['cherry', 'Kiwi', 'Orange', 'banana']

In [17]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
mylist

['apple', 'banana', 'cherry']

In [18]:
import numpy as np
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [19]:
import numpy as np
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

list1

['a', 'b', 'c', 1, 2, 3]

In [20]:
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2 = np.array(lst2)
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)
type(array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

numpy.ndarray

In [21]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]